@page "/"

 <div class="container">
  <section class="row mt-5">
      <div class="col">
          <div class="list-group">
              <a href="plants" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                      <h2 class="std mb-1">Botany</h2>
                  </div>
                  <p class="mb-1">
                        An application to manage botanical information
                  </p>
              </a>
              <a href="molecules" class="list-group-item list-group-item-action">
                  <div class="d-flex w-100 justify-content-between">
                      <h2 class="std mb-1">Molecules</h2>
                  </div>
                  <p class="mb-1">
                    An application to manage molecular calculations
                  </p>
              </a>
          </div>
      </div>
   </section>
</div>

@code {

}

