@inherits LayoutComponentBase
<div class="container">
    <div class="row">
        <div class="col">
            <a href="/">
               <img class="float-left" 
                    title="Navigate to home page" 
                    src="images/1-Logo-Quantum-Biochemistry.png" 
                    alt="Logo">
            </a>       
            <div class="float-none text-center mt-4">
                <h1 class="std">Quantumbiochemistry.org</h1>
                <h2 class="std">The quantum theory applied to biology</h2>
            </div>
        </div>
    </div>
</div>
@Body

