
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="std">Molecules Application</h1>
<a title="Go To Molecules" asp-controller="MoleculesHome" asp-action="Index" asp-route-name="MoleculesApplication">Go To Molecules</a>
